table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: none;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #71B4B2; 
    font-family: "Montserrat", sans-serif;
    color: #000000; 
  }

  thead {
    background-color: #7FCBD6; 
    color: #000000; 
    font-family: "Montserrat", sans-serif;
  }

  /*tbody tr:nth-child(even) {
    background-color: #EFC620; 
  }*/

 
  .important {
    color: #FFF069; 
    font-weight: bold;
  }

 
  .fa-icon {
    font-size: 16px;
    margin-right: 5px;
  }

  form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #43B6C7; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFF069; 
    font-weight: bold;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #000000; 
  }

  input[type="text"],
 
  #parcourir {
    
    background-color: #FFFFFF; 
    color: #000000; 
    border: none;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"] {
    background-color: #FFF069;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }