body {
    background-color: #EFC620; 
    color: #7FCBD6;
    margin: 0;

    
  }

  form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #43B6C7; 
    border-radius: 10px;
    
  }

  h1 {
    margin-top: auto;
    text-align: center;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    background-color: #43B6C7;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    
  }

  p {
    margin-bottom: 1rem;
    color: black;
  }

  label {
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #000000; 
    
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #71B4B2; 
    border-radius: 5px;
    background-color: #FFFFFF; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background-color: #FFF069; 
    color: #000000; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  table, 
  th, 
  td {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border:1px solid black;
    background-color: #43B6C7;
    color: #000000;
    
  }
  
  th {
    background-color: #43B6C7;
  }

  footer {
    background-color: #43B6C7;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 40px;
  }
  
  